

body{
	background-color : #33FF9E;	
}

login{
	width : 360px;
	padding : 10% 0 0 ;
	margin : auto;
}

form{
	background-color : #FFFFFF;
	position : relative;
	z-index : 1;
	max-width : 360px ;
	margin : 0 auto 100px;
	padding : 50px;
}

form header{
	font-family : courier new;
	font-size : 20px;
}

form button{
	text-transform : uppercase;
	background-color : #A2D9CE;
	margin : 0 auto 50px;
	
}










/* The message box is shown when the user clicks on the password field */
message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
valid {
  color: green;
}

valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
invalid {
  color: red;
}

invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}